.cat-header-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     /* centers horizontally */
    background: white;
    padding-top: 50px;
}
