.card-container {
     width: 100%;       /* full width of grid column */
  max-width: 250px;  /* still controls individual card size */

 border: none !important; /* removes border */
    box-shadow: none !important; /* removes shadow if any */

   height: 400px; /* Fixed height for all cards */ 
   display: flex;
  flex-direction: column;
  justify-content: space-between; /* spreads the elements out: image on top, text in the middle, and price toward the bottom. */
}

.card-container .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card-image {
    background-color: white;
}
.card-title {
  font-family: 'Excon', sans-serif;
  font-size: 16px;
  color: #333;
}
.card-description {
  font-family: 'Noto Mono', monospace;  
}
.card-price {
    font-family: 'Excon', sans-serif;
    font-size: 30px;
    color: #b81a0e;
}

@media (max-width: 768px) {
    .card-container {
       width: 150px; 
 
    }
}