.custom-buttons * {
    font-family: 'Excon', sans-serif;
    font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 60px;
    color: #fefffe;

}
.footer-container {
    padding-top: 0 !important;
    padding-bottom: 30px;
}
@media (max-width: 768px) {
    footer .custom-buttons {
        text-align: center;
        margin: 0px;
    }
   footer  .custom-buttons * {
    font-size: 13px;
    line-height: 10px;
    margin: 4px 0;
  }
  footer .footer-container {
   padding-bottom: 30px !important;
   padding-top: 0px !important;
}
}