
.hero-section {
    text-align: left;
      padding-left: 15%;       /* responsive padding based on parent */
  padding-right: 10%;
      padding-top: 30px; /* adjust top padding */
  margin: 0;  /* reset margin */
    flex:1;
    max-width:700px;
}
@media (max-width: 768px) {
    .hero-section {

        padding: 8vw 5vw;
    }
}

.hero-title {
    font-family: 'Excon', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 60px;
    color: #fefffe;
}
.hero-description {
    font-family: 'Noto Mono', monospace;
    color: #fefffe;

.hero-section {
    text-align: left;
    padding: 8vw 15vw;
    
    max-width: 400px;
}
@media (max-width: 768px) {
    .hero-section {

        padding: 8vw 5vw;
    }
}

.hero-title {
    font-family: 'Excon', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 60px;
    color: #fefffe;
}
.hero-description {
    font-family: 'Noto Mono', monospace;
    color: #fefffe;
    padding: 10px 0;
}
}