

.hero-section {

  display: flex;
  flex-direction: column;
  justify-content: center; /* centers content vertically */
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
 
}


.hero-title {
    font-family: 'Excon', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 60px;
    color: #fefffe;
}
.hero-description {
    font-family: 'Noto Mono', monospace;
    color: #fefffe;

}
@media (max-width: 768px) {
    .hero-section {
        padding-bottom: 0px;
       
    }
    .hero-title {
        text-align: left;
    }
    .hero-description {
        text-align: left;
    }
}


.hero-description {
    font-family: 'Noto Mono', monospace;
    color: #fefffe;
    padding: 10px 0;
}
