.video {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: left;  /* vertical centering */
  padding-left:60px;
  padding-top:30px;
  padding-right: 150px; /* optional: adjust padding */
  
}


.video video {
  width:550px;
  height: 350px;       /* square size */
  object-fit: cover;   /* crop to fit */
  border-radius: 15px; /* optional: rounded corners */
border: 2px solid white; /* ← this line adds visible border */
  border-color: white;
}
